
  /* Container voor de vriendenlijst */
  .friends-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    background: rgba(255, 255, 255, 0.9);
    max-width: 600px;
    border-radius: 1rem;
    box-shadow: var(--magical-shadow);
    margin: 20px;
    
  }
  
  /* Vriendenlijst stijlen */
  .friends-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .friend-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
  }
  
  .friend-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
  }
  
  .friend-info {
    flex-grow: 1;
  }
  
  .friend-name {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
  }
  
  .friend-actions {
    display: flex;
    gap: 10px;
  }
  
  .friend-actions button {
    background-color: #0066cc;
    color: white;
    border: none;
    padding: 4px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.7rem;
    transition: background-color 0.3s ease;
  }
  
  .friend-actions button:hover {
    background-color: #004a99;
  }
  
  /* Responsieve stijlen */
  @media (max-width: 600px) {
    .friends-list-container {
      padding: 10px;
    }
  
    .friend-item {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .friend-actions {
      margin-top: 10px;
    }
  
    .friend-actions button {
      width: 100%;
    }
  }
  