@charset "UTF-8";




.header {
    display: flex;
    justify-content: center;
    align-items: center; /* Zorgt ervoor dat alles verticaal gecentreerd is */
    background: white;
    border-bottom: #073a8d34 2px solid;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    position: relative; /* Zorg ervoor dat de z-index werkt */
    z-index: 10000; /* Zorg ervoor dat de header boven andere elementen staat */
  }
  



.stats-inline {
    display: flex;
    justify-content: space-around;
    background-color: white;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
    margin: 15px;
    gap: 30px; /* Voeg ruimte toe tussen de statistieken */
  }
  
  
  

  
.streakH {
  color: #E63244; /* DisneyRood */
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 4px;

}
  
  

.pointsH{
  color: #BF953F;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 4px;

}


.levelH{
  color: #3A9D23;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 4px;

}