@charset "UTF-8";



.profile-section {
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 2rem;
text-align: center;
}


.avatar-menu {
background-color: white;
margin: 20px; 
border-color: 1px #000000;
}

.avatar-options {
margin: 5px;
}



.profile-image {
margin-top: 30px;
margin-bottom: 10px;
width: 155px;
height: 155px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
font-size: 3rem;
box-shadow: 0 10px 50px rgba(0, 51, 204, 0.212);
}





.hamburger-icon {
  background-color: #073a8d ;
  height: 3px;
  width: 100%;
  border-radius: 5px;
  }
  
  .menu {
    position: absolute;
    top: 130px; /* Dit zorgt ervoor dat het menu onder het icoon verschijnt */
    left: 150px;
    width: 200px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 5px;
  }
  
  .menu-item {
    padding: 10px;
    border-bottom: 1px solid #f1f1f1;
    cursor: pointer;
  }





  .hamburger-menu {
    display: flex;
    color: #1e3d58;
    position: fixed;
    top: 90px; /* Zorg dat het iets van de bovenkant van de pagina staat */
    right: 20px; /* Zorg dat het iets van de rechterkant van de pagina staat */
    z-index: 1000; /* Zorg ervoor dat het boven andere elementen wordt weergegeven */
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    cursor: pointer;
    z-index: 10; /* Zorg ervoor dat het hamburger-icoon voor andere elementen staat */
  }
  
  
  
  .hamburger-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  }
  
  
  
  
  
  
  .dropdown-content {
  position: absolute;
  right: 0;
  top: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
  z-index: 10;
  display: flex;
  flex-direction: column;
  }
  
  .dropdown-content button {
  background: none;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  text-align: left;
  }
  
  
  .dropdown-content .remove {
  background: none;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  text-align: left;
  color: red;
  font-weight: bold;
  }



  .popup {
    margin: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
  }
  
  
  .popup-content {
    padding: 20px;
  }
  
  
  .popup-content h2{
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 10px;
  }
  
