.submit-btn {
width: 100%;
padding: 12px;
background: linear-gradient(73deg, rgb(0, 51, 204), rgb(0, 91, 255));
color: white;
border: none;
border-radius: 8px;
cursor: pointer;
font-size: 1rem;
margin-bottom: 1rem;
transition: background 0.3s ease;
}


.form-group {
margin-bottom: 1rem;
text-align: left;
}

.form-group label {
display: block;
margin-bottom: 0.5rem;
color: #333;
font-weight: bold;
}

.form-group input {
width: 100%;
padding: 10px;
border: 1px solid #ddd;
border-radius: 8px;
font-size: 1rem;
}


.login-container {
max-width: 80%;
margin: 2rem auto;
padding: 1rem;
background: rgba(255, 255, 255, 0.9);
border-radius: 20px;
box-shadow: 0 0 20px rgba(111, 53, 165, 0.2);
}

