@charset "UTF-8";




.navbar {
    background: white;
    position: fixed !important;
    bottom: 0 !important;
    width: 100% !important;
    height: 50px !important; /* Stel een positieve waarde in voor de hoogte */
    border-color: #073a8d6f;
    display: flex !important;
    justify-content: space-around !important;
    align-items: center !important;
    z-index: 1000 !important;
    left: 0 !important;
    border-top: #073a8d34 2px solid;
  }





  .nav-link {
    color: #073a8d !important;
    transition: transform 0.3s ease;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 20px; /* Ruimte tussen de navigatie-items */
    position: relative; /* Voor de pseudo-elementen */
  }
  
  
  
  .nav-link i {
    font-size: 1.5rem;  /* Consistente grootte voor alle iconen */
    margin-bottom: 10px; /* Ruimte tussen het icoon en de tekst */
    position: relative; /* Positioneer het icoon in de nav-link */
    z-index: 1; /* Zorg ervoor dat het icoon boven de cirkels staat */
  }
  
 



  .nav-link.active {
    color: #073a8d !important;
    position: relative; /* Ensure the pseudo-element is positioned relative to the nav-link */
    font-weight: bold;
    top: -80%;
    }
    
    
    .nav-link.active i {
      color: white;
      font-size: 1.5rem; /* Consistente grootte voor actieve iconen */
      position: relative; /* Zorg ervoor dat het icoon als basis dient voor de positionering van de cirkels */
      z-index: 1; /* Zorg ervoor dat het icoon boven de cirkels staat */
    }
    
    .nav-link.span {
      margin-top: 20px;
    }
    
    .nav-link.active::after {
      content: '';
      position: absolute;
      top: 30%; /* Plaats de cirkel precies in het midden van de nav-link */
      left: 50%;
      width: 55px;
      height: 55px;
      background-color: white;
      border-radius: 50%; /* Maakt de buitenste cirkel een perfecte cirkel */
      transform: translate(-50%, -50%); /* Zorgt ervoor dat de cirkel perfect gecentreerd is */
      pointer-events: none;
      z-index: -2;
      border-top: #073a8d6b 2px solid;
    }
    
    
    
    
    .nav-link.active::before {
      content: '';
      position: absolute;
      top: 30%; /* Plaats de binnenste cirkel precies in het midden van de nav-link */
      left: 50%;
      width: 40px;
      height: 40px;
      background-color: #073a8d;
      border-radius: 50%; /* Zorg ervoor dat de binnenste cirkel ook rond is */
      transform: translate(-50%, -50%); /* Zorgt ervoor dat de binnenste cirkel ook gecentreerd is */
      pointer-events: none;
      z-index: -1; /* Plaats deze achter de originele cirkel */
    }
    
    
    
  