
.disney-leaderboard {
padding: 20px;
min-height: calc(100vh - 150px);
color: #073a8d;
font-weight: bolder;
}
.title {
text-align: center;
margin-bottom: 20px;
font-family: 'Waltograph', cursive;
font-size: 2.5rem;
}
.user-list {
list-style: none;
padding: 0;
max-width: 600px;
margin: 0 auto;
}
.user-item {
    display: flex;
    align-items: center;
    background-color: white;    
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Iets grotere schaduw voor meer diepte */
    margin: 10px 0;
    padding: 15px; /* Meer padding voor een ruimtelijker gevoel */
    border-radius: 12px; /* Iets grotere afronding */
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
.user-rank {
font-size: 1.5rem;
margin-right: 15px;
width: 30px;
text-align: center;
color: black;
}
.user-info {
display: flex;
align-items: center;
flex: 1;
}
.avatar-container {
width: 50px;
height: 50px;
border-radius: 50%;
overflow: hidden;
margin-right: 15px;
border: 2px solid white;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.458);

}
.avatar {
width: 100%;
height: 100%;
object-fit: cover;
}
.user-details {
display: flex;
flex-direction: column;
}
.username {
font-weight: bold;
font-size: 1.2rem;
color: black;
text-shadow: 0 4px 8px rgba(0, 0, 0, 0.14);
}
.points-here {
font-size: 1rem;
background:linear-gradient(73deg, #BF953F, #fdf59f, #B38728, #fdf59f, #AA771C);
font-weight: bold;
padding: 5px 5px;
border-radius: 15px;
width: 150px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.375);
border: white 2px solid;
color: black;
}

.loading {
text-align: center;
padding: 50px;
font-size: 1.5rem;
}